/* Event Slider */

header{
    position:fixed;
    top:5px;
    z-index: 1;
    background-color: transparent;
    width: 100vw;
    overflow: hidden;
    margin-bottom: 15px;
    color:white;
}

.Events-slider {
    overflow: hidden;
    display: flex;
    height: 23px;
    width: 70vw;
    margin: 2px auto;
    border-bottom: 2px solid white;
}

.Events-slider div span {
    color: orange;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-500px, 0, 0);
    }
}

.Events-slider div {
    height: 100px;
    min-width: 100px;
    margin-left: 50px;
    animation: slide 15s linear infinite;
}

@media screen and (max-width: 420px){
    .Events-slider{
        border: none;
        flex-direction: column;
        position: fixed;
        top:100px;
        right:10px;
        height:70vh;
        margin-right: 0px;
        width:40px;
    }

    @keyframes slide {
        0% {
            transform: translate3d(0, 0, 0) rotate(-90deg);
        }
        100% {
            transform: translate3d(0, -500px, 0) rotate(-90deg);
        }
    }

    .Events-slider div {
        min-height: 200px;
        width:150px;
    }

    header{
        overflow: visible;
    }
}

/* Event Slider end */