/* Event Slider */

header{
    position:fixed;
    top:5px;
    z-index: 1;
    background-color: transparent;
    width: 100vw;
    overflow: hidden;
    margin-bottom: 15px;
    color:white;
}

.Events-slider {
    overflow: hidden;
    display: flex;
    height: 23px;
    width: 100vw;
    margin: 2px auto;
    border-bottom: 2px solid white;
}

.Events-slider div span {
    color: orange;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-2200px, 0, 0);
    }
}

.Events-slider div {
    height: 30px;
    min-width: 400px;
    margin-left: 10px;
    animation: slide 25s linear infinite;
}

.Events-slider .current{
    background-color: orange;
    border-radius: 3px;
    outline: 2px white;
    min-width:100px;
    color:white;
    padding:2px;
    text-align: center;
    margin-left: 20px;
}

@media screen and (max-width: 420px){
    .Events-slider{
        border: none;
        flex-direction: column;
        position: fixed;
        top:100px;
        right:0px;
        height:80vh;
        margin-right: 0px;
        width:40px;
    }

    @keyframes slide {
        0% {
            transform: translate3d(0, 0, 0) rotate(-90deg);
        }
        100% {
            transform: translate3d(0, -4000px, 0) rotate(-90deg);
        }
    }

    .Events-slider div{
        min-height: 400px;
        width:150px;
    }

    .Events-slider .current{
        min-height: 100px;
        width:90px;
        border-radius: 10px;
        outline: 2px white;
        min-width:100px;
        color:white;
        padding:2px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }

    header{
        overflow: visible;
    }
}

/* Event Slider end */