.menu{
    transition: all 0.3s ease-out 0.2s;
}

.menu-btn{
    border-radius: 70vw;
}

.menu-btn:focus{
    transition: all 1s ease-out;
    background-color: orange;
    opacity: 0.83;
    position: fixed;
    width:100vw;
    height:100vh;
    top: 50vh; 
    left: 49.55vw; 
    transform: translate(-50vw, -50vh);
    /* margin: 10px; */
    border-radius: 0px;
    z-index: 6;
}

.menu-btn:focus .menu-logo{
    display: none;
}

.cross{
    display: none;
    height:40px;
    transition: all 0.7s ease-out;
}

.cross:hover{
    transform: rotate(600deg);
}

.menu-btn:focus .cross{
    display: block;
    position:absolute;
    top:20px;
    right:30px;
}

@media screen and (max-width: 540px) {
    .menu-btn:focus{
        right:10px;
    }
}