.menu{
    transition: all 0.3s ease-out 0.2s;
}

.menu-btn{
    border-radius: 70vw;
}

.menu-btn:focus{
    transition: all 1s ease-out;
    background-color: rgba(255,165,0,0.8);
    position: fixed;
    width:100vw;
    height:100vh;
    top: 50vh; 
    left: 49.55vw; 
    transform: translate(-50vw, -50vh);
    border-radius: 0px;
    z-index: 6;
    flex-direction: column;
    justify-content: space-around;
    gap:30px;
}

.menu-btn:focus .blur{
    transition: all 1s ease-out;
    background-color: orange;
    opacity: 0.2;
    position: fixed;
    width:100vw;
    height:100vh;
    top: 50vh; 
    left: 49.55vw; 
    transform: translate(-50vw, -50vh);
    border-radius: 0px;
    z-index: -1;
}

.menu-btn:focus .menu-logo{
    display: none;
}

.cross{
    height:40px;
    transition: all 0.9s ease-out 0.2s;
}

.menu-items{
    display: none;
    transition: all 0.3s ease-out 0.2s;
}

.menu-btn:focus .menu-items{
    display: block;
}

.cross:hover{
    transform: rotate(600deg);
}

.menu-btn:focus .cross{
    position:absolute;
    top:20px;
    right:35px;
}

.menu-btn h1{
    font-size:2.5rem;
    border-bottom: 5px solid white;
    padding-bottom: 10px;
}

.menu-btn:focus .options{
    display:flex;
    flex-direction: column;
    width:100%;
    height:fit-content;
    justify-content: space-between;
    padding-left: 15vw;
    line-height: 50px;
}

.menu-btn:focus .options h4{
    text-align: left;
    font-size: 2rem;
    padding-left: 30px;
}

.menu-link{
    /* transition: all 0.3s ease-out 0.01s; */
    border-radius: 25px;
    /* background: linear-gradient(-90deg, rgba(256,165,0,0.83) 100%); */
}

@keyframes gradient {
	0% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 200% 0%;
	}
}

.menu-btn:focus .menu-link:hover{
    cursor: pointer;
    background: linear-gradient(-45deg, rgba(256,165,0,0.83),rgba(256,256,256,0.7),rgba(256,256,256,0.8),rgba(256,256,256,0.9),rgba(256,256,256,0.9) ,white);
	background-size: 200% 200%;
	animation: gradient 0.5s ease;
    color:black;
}

@media screen and (max-width: 540px) {
    .menu-btn:focus{
        right:10px;
    }
}