@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width:100vw;
    overflow-x: hidden;
    background-color: #1B0B26;
}

section{
    height: 100vh;
    width: 100vw;
}

.Quickies{
    background: linear-gradient(317.44deg, #1B0B26 23.92%, #1A012A 49.85%, #2A0242 100%);
}

/* Hero Section*/

.hero-section {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(107.66deg, #3F0264 -50.23%, rgba(15, 0, 24, 0.94) 139.14%);
    overflow: hidden;
    display:flex;
    /* justify-content: center; */
    align-items: center;
}

@keyframes wavy1 {
    0% {
        transform: translate3d(-340px, 0, 0);
    }
    50% {
        transform: translate3d(0px, 0, 0);
    }
    100% {
        transform: translate3d(-340px, 0, 0);
    }
}

@keyframes wavy2 {
    0% {
        transform: translate3d(-240px, 0, 0);
    }
    50% {
        transform: translate3d(0px,0, 0);
    }
    100% {
        transform: translate3d(-240px, 0, 0);
    }
}

.wave {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.one {
    z-index: 3;
    opacity: 0.5;
    animation: wavy1 20s ease-in-out infinite;
}

.two {
    z-index: 2;
    opacity: 0.3;
    animation: wavy2 15s ease-in-out infinite;
}

.hero-bottom{
    overflow-x: hidden;
}
.bg-txt {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20%;
    right: 15%;
    height: 60%;
    z-index: 1;
}

.bg-txt img{ 
    height:100%;
}

@media screen and (max-width: 912px) {
    .bg-txt {
        right: 33%;
        height: 60%;
    }
}

@media screen and (max-width: 420px) {
    .wave {
        display: none;
    }

    .bg-txt {
        flex-direction: column;
        height: 50%;
        width: 50%;
        right: 25%;
    }

    .bg-txt img{
        height: 100%;
    }

    .Quickies{
        background: linear-gradient(313.77deg, #1B0B26 22.03%, #1F0130 47.32%, #230138 77.98%, #28013F 100%);
    }
}

.logo-head{
    position: absolute;
    top:30px;
    left:20px;
    width:clamp(120px,30%,100px);
    z-index: 2;
}

.tagline{
    color:white;
    position: relative;
    left:200px;
    top:100px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    gap:25px;
}

.tagline p{
    font-size: clamp(3rem,40vw,1rem);
    width: min(500px,70vw);
}

.get{
    width:150px;
}

.get p{
    position: relative;
    top:30px;
    left:50px;
    font-size: 15px;
    width:150px;
}

.get-btn{
    position: relative;
    top:61px;
    left:45px;
    width:50px;
    height: 50px;
    background-color: black;
    opacity: 0.5;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-out 0.05s;
}

.get:hover .get-btn{
    width:160px;
    left:41px;
}

@media screen and (max-width: 912px) {
    .logo-head{
        width:clamp(200px,30%,100px);
    }

    .tagline{
        left:80px;
        top:150px;
    }

    .tagline p{
        font-size: clamp(4rem,40vw,3rem);
        width: min(600px,70vw);
    }

    .get p{

        top:30px;
        left:0px;
        font-size: 15px;
    }

    .get-btn{
        top:61px;
        left:-5px;
        width:50px;
        height: 50px;
    }

    .get:hover .get-btn{
        width:160px;
        left:-9px;
    }
}

@media screen and (max-width: 540px) {

    .hero-section {
        overflow-y: visible;
    }

    .logo-head{
        top:50px;
        width:clamp(120px,30%,100px);
    }

    .tagline{
        left:50px;
        top:70px;
        gap:22px;
    }

    .tagline p{
        font-size: clamp(2rem,10vw,0.5rem);
    }

    .get p{

        top:10px;
        left:0px;
        font-size: 15px;
    }

    .get-btn{
        top:41px;
        left:-5px;
        width:50px;
        height: 50px;
    }

    .get:hover .get-btn{
        width:160px;
        left:-9px;
    }
}

@media screen and (max-width: 280px) {
    .logo-head{
        top:55px;
        width:clamp(120px,30%,100px);
    }

    .tagline{
        left:50px;
        top:70px;
        gap:10px;
    }

    .tagline p{
        font-size: 2.2rem;
    }

    .get{
        position: relative;
        bottom:30px;
    }

    .get p{

        top:30px;
        left:0px;
        font-size: 15px;
    }

    .get-btn{
        top:61px;
        left:-5px;
        width:50px;
        height: 50px;
    }

    .get:hover .get-btn{
        width:160px;
        left:-9px;
    }
}
/* Hero Section End*/

/* Quick_events starts  */

.quick_event{
    display:grid;
  place-items:center;
  height:80vh;
  width:100vw;
  background-color: #1B0B26;
  transition:none;
}

.jumbotron{
    padding:1rem 0 ;
  background: rgba(41, 28, 51, 0.85);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(41, 28, 51, 0.24);
    min-width: 90vw;
    height:45vh;
    
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-family: 'Inter', sans-serif;
    position:relative;
     overflow:hidden;
  }
  
  .jumbotron::before{
     content: '';
    position: absolute;
    width:266px;
    height:249px;
    top: 0;
      right: 0;
        background: #FEDD49;
      clip-path: circle(40% at 90% 12%);
    
  }
  .jumbotron::after{
    content: '';
  position: absolute;
  width: 240.57px;
  height: 240.41px;
  left: 0px;
  bottom: 0;
  background: #E92875;
   clip-path: polygon(44% 61%, 37% 100%, 0% 100%, 0 69%);
   
  
  }
  
  .content{
   
    position:relative;
  
  }
  
  .content h1{
    font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 85px;
    transition: all .2s ease-in-out;
  }
  .content h3{
   font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
    letter-spacing: 0.09em;
    transition: all .2s ease-in-out;
  
  }
  
  .content::after{
     content: 'Register';
    color:'white';
    position: absolute;
    width:266px;
    height:249px;
    top: 0;
    display:grid;
    place-items:center;
      right: -130px;
        background: #E0518A;
    transform: rotate(-15.44deg);
    text-align:center;
  clip-path: ellipse(36% 13% at 50% 50%);
    transition: all .2s ease-in-out;
  
  }
  .content:hover::after{
    transform: scale(1.2);
    cursor:pointer;
  }
  
  .status{
  
    position: absolute;
  width: 104.5px;
  height: 42.5px;
  left: 30px;
  top: 40px;
  display:flex;
  align-items:center;
  background: #C7A90C;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
  
  }
  
  .status_indicator{
    width:15px;
    height:15px;
    background-color:green;
    border-radius:50%;
    margin-left:10px;
    animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
     
  }
  
  .status p{
    color:black;
    width:10px;
    padding-left:10px;
    transition: all .2s ease-in-out;
    
  }
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800&display=swap');

*{
  padding: 0;
  margin: 0;
}
body{
  min-height:100vh;
  background-color: #1B0B26;
  display:grid;
  place-items:center;
}
.teacher_contents{
  text-align:center;
  color:white;
  font-family: 'Inter', sans-serif;
font-weight: 500;
font-size: 20px;
  letter-spacing: 0.09em;
}

.teacher_cards-container{
  margin-top:3rem;
  display:flex;
    /* flex-direction: column; */
  min-width:90vh;
  justify-content:space-between;
  position: relative;
}
.teacher_card{
  width: 200px;
  position:relative;
  display:flex;
  flex-direction:column;
  transition: all .2s ease-in-out;
  
}

.teacher1{
  width:200px;
  height:240px;
   background-color:grey;
  box-shadow: inset 0px 0px 18px rgba(0, 0, 0, 0.7);
filter: drop-shadow(0px 4px 20px #000000);
border-radius: 20px;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
    background-size: cover;
   background-image: url('https://aiclub.aivit.tech/images/DrSuthir.jpg');
}
.teacher2{
  width:200px;
  height:240px;
   background-color:grey;
  box-shadow: inset 0px 0px 18px rgba(0, 0, 0, 0.7);
filter: drop-shadow(0px 4px 20px #000000);
border-radius: 20px;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
    background-size: cover;
 background-image: url('https://aiclub.aivit.tech/images/DrMayuri.jpg');
}
.teacher_card img{
  align-self: flex-end;
  position:absolute;
  right:-50px;
  top:-40px;
}


.teacher_card .teacher:nth-of-child(1){
   background-image: url('https://aiclub.aivit.tech/images/DrSuthir.jpg');
}


.teacher_card:nth-of-type(1){
  transform: rotate(-4.5deg);

}
.teacher_card:nth-of-type(2){
  transform: rotate(4.5deg);
}


.teacher_card:nth-of-type(1):hover{
  transform: rotate(1deg);
}
.teacher_card:nth-of-type(2):hover{
  transform: rotate(1deg);
}


.teacher_info{
 padding:0 0.6rem ;
  display:flex;
  flex-direction:column;
  text-align:end;
  font-family: 'Inter', sans-serif;
  color:white;
  height:100%;

  justify-content:flex-end;
  
}
.teacher_info h1{
  color:white;
  font-weight: 600;
font-size: 15px;
  margin-right:0.5rem;
  letter-spacing: 0.05em;
  
  
}
.teacher_info p{
  padding: 0.4rem ;
  font-weight: 500;
font-size: 12px;
  letter-spacing: 0.09em;
}
  
  @keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  @media(max-width:650px){
    .teacher_cards-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
     }
     .status p{
      font-size:0.8rem;
       padding-left:8px;
    }
    .status{
      width:85px;
    }
   
    .content h1{
      font-size:35px;
    }
    .content h3{
      font-size: 20px
    }
    .content::after{
      right:-90px;
      clip-path: ellipse(24% 12% at 50% 50%);
  
    }
    .jumbotron::before{
        clip-path: circle(25% at 90% 12%);
      }
      .jumbotron::after{
        width: 140.57px;
        height: 140.41px;
      }
  }
  
  @media (max-width: 400px){
    .jumbotron::before{
      clip-path: circle(18% at 90% 12%);
    }
    .jumbotron::after{
      width: 120.57px;
      height: 120.41px;
    }
    .content::after{
      top: 5px
    }
  }

  /* Quick_events ends */