*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: pink;
}

/* Event Slider */

header{
    position:sticky;
    top:20px;
    z-index: 1;
    background-color: transparent;
    width: 100vw;
    overflow: hidden;
}

.Events-slider {
    overflow: hidden;
    display: flex;
    height: 50px;
    width: 150vw;
    margin-top: 5px;
}

.Events-slider div {
    height: 400px;
    min-width: 300px;
    margin-left: 100px;
}

.Events-slider div span {
    color: orange;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-500px, 0, 0);
    }
}

.Events-slider div {
    height: 100px;
    min-width: 200px;
    margin-left: 50px;
    animation: slide 15s linear infinite;
}

/* Event Slider end */

section{
    height: 100vh;
    width: 100vw;
    background-color: pink;
}