body {
    background-color: #1B0B26;
    overflow-x: hidden;
}

* {
    font-family: "Poppins", sans-serif;
}

.counter-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.counter {
    color: white;
    border-radius: 20px;
    text-align: center;
}

.counter-card img {
    height: 100px;
    margin-bottom: 20px;
}

.counter *{
    margin: 0;
}

.counter h2{
    font-weight: 200;
    text-align: center;
}

.counter h1{
    font-size: 3rem;
}

@media only screen and (max-width:450px) {
    .df-floating .df-ui-controls {
        bottom: 60px;
    }

    .df-page-content .df-page-content-right {
        height: 1px !important;
        width: 1px !important;
    }
}