* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width:100vw;
    overflow-x: hidden;
    background-color: #1B0B26;
}

#circle {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    height: 7px;
    width: 7px;
    background-color: red;
    border-radius: 5px;
}

.highlight{
    z-index: 1;
}

.highlight:hover {
    outline: 2px solid white;
    outline-offset: 10px;
    border-radius: 10px;
}

.hero{
    display:flex;
    justify-content: center;
    align-items: center;
    background: url(../../images/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width:100vw;
    height:100vh;
    position: relative;
}

.about{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 2rem;
    position: relative;
}

.about p{
    margin:50px;
    text-align: justify;
    position: relative;
}

.about p::before{
    content: "\"";
    position:absolute;
    bottom:170px;
    left:-30px;
    color:orange;
    font-size: 100px;
}

.about p::after{
    content: "\"";
    position:absolute;
    top:230px;
    color:orange;
    font-size: 100px;
}

.text{
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap:0px;
    padding:10px;
    font-family: 'Alef';
}

.wlcm{
    font-family: 'Bad Script';
    font-style: italic;
    font-weight: 400;
    font-size: 109px;
    letter-spacing: 0.07em;
    color: #FEDD49;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

.name{
    font-family: 'Alatsi';
    font-style: normal;
    font-weight: 400;
    font-size: 123px;
    letter-spacing: 0.10em;
    color: #FFFFFF;
}

.tagline{
    font-family: 'Alatsi';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    letter-spacing: 0.26em;
    color: #FFFFFF;
}

.explore{
    margin:50px auto;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    width: 270px;
    height: 50px;
    font-family: 'Alatsi';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 0.3em;
    color: #000000;
    padding: 5px;
    z-index: 1;
}

.explore:hover{
    background: orange;
    color: #000000;
    cursor: pointer;
}

.counting{
    width:100vw;
    height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color:white;
    flex-wrap: wrap;
}

.counting h1{
    font-size: 3rem;
    margin:100px 50px;
}