* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width:100vw;
    overflow-x: hidden;
    background-color: #1B0B26;
}

.hero{
    display:flex;
    justify-content: center;
    align-items: center;
    background: url(../../images/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width:100vw;
    height:100vh;
}

.about{
    width:100vw;
    height:100vh;
}

.text{
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap:0px;
}

.wlcm{
    width: 581px;   
    font-family: 'Bad Script';
    font-style: italic;
    font-weight: 400;
    font-size: 109px;
    letter-spacing: 0.07em;
    color: #FEDD49;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

.name{
    width: 581px;
    font-family: 'Alatsi';
    font-style: normal;
    font-weight: 400;
    font-size: 122px;
    letter-spacing: 0.10em;
    color: #FFFFFF;
}

.tagline{
    width: 569px;
    font-family: 'Alatsi';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    letter-spacing: 0.26em;
    color: #FFFFFF;
}

.explore{
    margin:50px auto;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    width: 270px;
    height: 50px;
    font-family: 'Alatsi';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 0.3em;
    color: #000000;
    padding: 5px;
}

.counting{
    width:100vw;
    height:fit-content;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color:white;
}

.counting h1{
    font-size: 3rem;
    margin:200px 50px;
}