*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    overflow-x: hidden;
    background-color: #1B0B26;
}

.lead_teacher{
    padding: 10px;
    height: 90px;
    left: 135px;
    top: 172px;
    height: fit-content;
}

.lead-title{
    width: 80%;
    font-family: 'Allerta Stencil';
    font-style: normal;
    margin-top: 0.5rem;
    font-size: 2rem;
    padding:100px;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap:50px;
}

#teams {
    /* margin-top: 20vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid black;
    z-index: 100;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    flex-wrap: wrap;
    gap:50px;
}

.blog-box {
    width: 240px;
    margin: 0 10px 10px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 9px 25px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 9px 25px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 9px 25px -4px rgba(0, 0, 0, 0.75);
    height: 350px;
    cursor: pointer;
}

.web {
    background-color: #FF7396;
}

.tech {
    background-color: #F4E06D;
}

.event {
    background-color: #FFFFDE;
}

.design {
    background-color: #C499BA;
}

.cont {
    background-color: #FF7396;
}

.social {
    background-color: #F4E06D;
}

.out {
    background-color: #FFFFDE;
}

.video {
    background-color: #C499BA;
}

.blog-img {
    width: 100%;
    height: auto;
    border-radius: 10px;

}

.blog-img img {
    max-height: 230px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    font-family: 'Allerta Stencil';
    padding: 110px 30px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon i{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    font-family: 'Allerta Stencil';
    color: #1B0B26;
    font-size: 1.2rem;
}

.blog-text .blog-title {
    font-family: 'Allerta Stencil';
    font-size: 2rem;
    color: #1B0B26;
    text-decoration: none;
 
}

.blog-text p {
    color: #1B0B26;
    font-family: 'Allerta Stencil';
    font-size: 1.3rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0;
    opacity: 0;
}

.blog-text h1 {
    font-weight: 500;
}

.blog-box:hover .blog-text{
    transform: translateY(-80px);
    transition: all 0.3s ease-in-out;
    opacity: 1; 
}

.blog-box:hover .blog-text p{
    opacity: 1;
}

.members{
    width: 240px;
    margin: 0 10px 10px;
    border-radius: 10px;
    /* -webkit-box-shadow: 10px 9px 25px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 9px 25px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 9px 25px -4px rgba(0, 0, 0, 0.75); */
    height: 350px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.members img{
    height: 150px;
    width:150px;
    border-radius: 500px;
}

.members h1{
    color:white;
    line-height: 30px;
    font-family: 'Allerta Stencil';
    letter-spacing: 5px;
    text-align: center;
}

.web-d, .web-m, .web-t{
    display: none;
}

.tech-d, .tech-m, .tech-t{
    display: none;
}

.event-d, .event-m, .event-t{
    display: none;
}

.design-d, .design-m, .design-t{
    display: none;
}

.cont-d, .cont-m, .cont-t{
    display: none;
}

.social-d, .social-m, .social-t{
    display: none;
}

.out-d, .out-m, .out-t{
    display: none;
}

.video-d, .video-m, .video-t{
    display: none;
}


@media screen and (max-width: 540px) {

    .lead_teacher{
        height: 100vh;
        line-height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lead-title{
        margin-top:60px;
        padding:30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap:80px;
        width: 100%;
    }

    .blog-container {
        margin: 30px 0;
    }
}